body{
    margin: 0px;
}



.div_background{
    background-color: blanchedalmond;
    width: 100%;
    height: 100%;
    display: flex;

}
.right_background{
    /* background-color: blueviolet; */
    width: auto;
    height: 100%;
    
}
/* 左视图 */
.left_background{
    width: 300px;
    height: 100%;
    overflow: hidden;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.leftground_img{
    width: auto;
    height: 100%;;

}
/* 名称 */
.left_name{
    color: #ffffff;
    position: relative;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}
.icon{
    text-align: center;
}
.icon>img{
    width: 80px;
    height: 80px;
    border: 2px solid #ffffff;
    border-radius: 40px;
    /* 保持图片不变形 */
    object-fit: cover;
}
.left_ground_item{
    position: relative;
    /* margin: 0px 20px; */
    top: 50px;
    margin: 0px 20px;

}
.info_des{
    /* text-indent: 1.5em; */
    margin: 10px 10px 0px 0px;
    font-size: 18px;
    color: #999999;
    text-align: center;
    line-height: 2.0em;
}

a{
    color: #80D0E8;
    text-decoration: none;
}
.button{
    border: #ffffff;
    width: 90px;
    height: 35px;
    border-radius: 17.5px;
}
.navigation{
    list-style-type: none;
}
.navigation_item{
    display: inline-block;
    margin: 10px 1px 0 0;
}
.navigation_item a{
    padding:  10px 20px;
    line-height: 1em;
    border-radius: 20px;
    margin: 5px;
    border: 1px solid #ffffff;
    font-size: .9em;
}
ol li, ul li {
    margin: 0 0 .2em 0;
    line-height: 1.6em;
}
/* 左视图结束 */